{% extends 'themes/base_visitor.html.twig' %}

{% block title %}stage{% endblock %}

{% block description %}test page{% endblock %}

{% block keywords %}Keyword{% endblock %}


{% block main %} 
<h1 class="text-center my-3 display-5 hello">bienvenue</h1>
{% endblock %} 