{% extends "themes/base_visitor.html.twig" %}

{% block title %}A propos {% endblock %}

{% block description %}Catlogue des produits: Curseur de riz, Machine à laver...{% endblock %}

{% block keywords %}SyllaTechno, A propos{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">A propos de SyllaTechno </h1>

  
{% endblock %}