{% extends "themes/base_visitor.html.twig" %}

{% block title %}Contact {% endblock %}

{% block description %}Notre contact via...{% endblock %}

{% block keywords %}SyllaTechno, Contact{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Nous contacter </h1>

  
{% endblock %}