{% extends "themes/base_visitor.html.twig" %}

{% block title %}Panier {% endblock %}

{% block description %}Catlogue des produits: Curseur de riz, Machine à laver...{% endblock %}

{% block keywords %}SyllaTechno, Panier{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">A propos de mon panier </h1>

  
{% endblock %}