{# read and display all flash messages #}
{# Pour les messages de succès #}
{% for message in app.flashes('success') %}
    <div class="text-center alert alert-success bg-success-subtle alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    </div>
{% endfor %}

{# Pour les messages d'erreur #}
{% for message in app.flashes('error') %}
    <div class="text-center alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    </div>
{% endfor %}
