{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block description %}SyllaTechno{% endblock %}

{% block keywords %}Keyword{% endblock %}


{% block main %} 
<h1 class="text-center my-3 display-5 hello">Hello Word</h1>
{% endblock %} 