{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block description %}SyllaTechno{% endblock %}

{% block keywords %}Keyword{% endblock %}

{% block main %} 
{# ajoute de l'image d'accueil #}
<div class="hero-banner" style="background-image: url('{{ asset('images/accueil.jpg') }}'); background-size: cover; background-position: center; height: 80vh;">
     
</div>
{% endblock %} 