{% extends "themes/base_visitor.html.twig" %}

{% block title %}En attente de la vérification du compte par email{% endblock %}

{% block description %}En attente de la vérification du compte par email{% endblock %}

{% block keywords %}SyllaTechno, Vérification, compte, email, inscription...{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">En attente...</h1>
    <div class="container my-5 text-center ">
        <div class="row">
                <P class="shadow p-3">Un email vous à été envoyé pour la verification de votre compte.</P>
            </div>
        </div>
    </div>
{% endblock %}